{% extends 'layout/base.html' %}

{% block content %}
        <h4 class="header">
        <a href="{{ request.META.HTTP_REFERER }}">
            <i class="material-icons white-text icon-bg-color main-bg">keyboard_arrow_left</i>
        </a>
    </h4>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Crear Cliente</h4>
                <div class="row">
                    <form class="col s12" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form2.username }}
                                {{ form2.username.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form2.username.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                {{ form2.password1 }}
                                {{ form2.password1.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form2.password1.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                {{ form2.password2 }}
                                {{ form2.password2.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form2.password2.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">perm_identity </i>
                                {{ form.nombre }}
                                {{ form.nombre.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form.nombre.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">perm_identity </i>
                                {{ form.apellido }}
                                {{ form.apellido.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form.apellido.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">fingerprint</i>
                                {{ form.cedula }}
                                {{ form.cedula.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form.cedula.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">wc</i>
                                {{ form.genero }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail</i>
                                {{ form.email }}
                                {{ form.email.label_tag }}
                                <span class="pink-text" style="margin-left: 3rem;">
                                    {{ form.email.errors }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">contact_phone</i>
                                <label for="id_telefono">Teléfono:</label>
                                <input name="telefono" maxlength="50" required="" id="id_telefono" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right" type="submit">
                                    Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}