{% load staticfiles %} {% load sass_tags %}

<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inova</title>
  <!-- Temporary -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:300,400,600" rel="stylesheet">
  <link href="{% sass_src './css/index.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class='home'>
    <div class='logo'>
      <img class='logoSVG' src='/static/images/innova-logo.svg' />
    </div>
   
    <div class='homeScrim'>
    </div>
    <div class='fondo'>
      <img src='/static/images/fondo.jpg' />
    </div>
    <div class="buttonContainer">
      <a class='accentButton' href="/admin/norma">Continuar</a>
    </div>
  </div>
</body>

</html>
