{% load staticfiles %}

<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar-13.png' %}" alt="" class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                    <!--<ul id="profile-dropdown-nav" class="dropdown-content">
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">face</i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">settings</i> Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">live_help</i> Help
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">lock_outline</i> Lock
                            </a>
                        </li>
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">keyboard_tab</i> Logout
                            </a>
                        </li>
                    </ul>-->
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn"
                       href="#" data-activates="profile-dropdown-nav">
                        {{ request.user.persona }}
                        <i class="mdi-navigation-arrow-drop-down right"></i>
                    </a>
                    <p class="user-roal">
                        {% if request.user.administrador %}
                            <span class="task-cat red accent-2">Administrador</span>
                        {% elif request.user.cliente %}
                            <span class="task-cat teal accent-4">Cliente</span>
                        {% elif request.user.analista %}
                            <span class="task-cat cyan accent-4">Analista</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                {% if request.user.administrador %}
                    <li class="bold">
                        <a href="{% url 'admin:norma-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">class</i>
                            <span class="nav-text">Normas</span>
                        </a>
                    </li>
                    <li class="bold">
                        <a href="{% url 'admin:capitulo-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">assignment</i>
                            <span class="nav-text">Capitulos</span>
                        </a>
                    </li>
                    <li class="bold">
                        <a href="{% url 'admin:pregunta-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">assignment_turned_in</i>
                            <span class="nav-text">Preguntas</span>
                        </a>
                    </li>
                    <li class="bold">
                        <a href="{% url 'admin:cliente-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">supervisor_account</i>
                            <span class="nav-text">Clientes</span>
                        </a>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect waves-cyan">
                            <i class="material-icons">card_membership</i>
                            <span class="nav-text">Licencias</span>
                        </a>
                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li>
                                    <a href="{% url 'admin:licencia-plan-list' %}">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                        <span>Planes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:licencia-list' %}">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                        <span>Licenciar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% elif request.user.cliente %}
                    <li class="bold">
                        <a href="{% url 'cliente:analista-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">supervisor_account</i>
                            <span class="nav-text">Analistas</span>
                        </a>
                    </li>
                    <li class="bold">
                        <a href="{% url 'cliente:profesional-list' %}" class="waves-effect waves-cyan">
                            <i class="material-icons">supervisor_account</i>
                            <span class="nav-text">Profesionales</span>
                        </a>
                    </li>
                {% endif %}
                <!--<li class="bold">
                    <a href="index.html" class="waves-effect waves-cyan">
                        <i class="material-icons">pie_chart_outlined</i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>-->
                <!--<li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                    <div class="collapsible-body" style="display: block;">
                        <ul>
                            <li class="">
                                <a href="index.html">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>eCommerce</span>
                                </a>
                            </li>
                            <li>
                                <a href="dashboard-analytics.html">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Analytics</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</aside>